#order
{
  color: #465362ff;
  font-size:15px;
  padding:50px 5px 10px;
  background-color:white;
  
  border-radius:150px;
  border-style:solid;
  border-width:1px;
  border-color:#465362ff;
  
  position:relative;
  
  top:20px;
  left:50vw;
  
  margin-left:-70px;
  
  display:inline-block;
  -webkit-transform:rotate3d(0,0,1,30deg);
  transform:rotate3d(0,0,1,30deg);
  
}

/* MENU */

.menu
{
  position:fixed;
  left:-65px;
  top:0px;
  height: 100%;
  width:20vw;
  padding-top: 2rem;
  text-align:center;
  line-height: 8vh;
  
  background-color:#465362ff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
  
  font-size:20px;
  color:beige;
  
  /* transition */
  
  transition:left 1s;
  -webkit-transition:left 1s;
  
}

.fixed-top {
    position: fixed;
    top: none;
    right: none;
    left: none;
    z-index: 1030;
}

.menu:hover
{
  left:0px;  
}


/* SPAN OF SPAN */


.menu span a:hover
{
  color:rgba(255,255,255,0.5);  
}



/* Body and Title*/

a
{
  text-decoration:none;
  color:beige;
}